@media print {
 /* All your print styles go here */

    .body{
        background-color: #fff;
    }

    .nav{
        box-shadow: none;
    }

    .page-content{
        margin: 0px 0px;
    }

   .footer{
        background-color: #fff;
        color: #444444;
        box-shadow: none;
        min-height: 100px;
        padding: 0;
        margin-top: 0;
   }

   .viz-card{
        box-shadow: none;
   }

    .print__page-break {
        page-break-after: always;
    }

}