# Virtual Environment / Working On
venv/
sandbox/
env/


# Jupyter Notebook
.ipynb_checkpoints
.DS_Store

# JetBrains
.idea

# VSCode
.vscode

# IPython
profile_default/
ipython_config.py

# Python
__pycache__
